{% extends "master.html" %}
{% load static %}
{% block content %}

<div class="row" style="padding-top: 40px;">
    <div class="col-md-12">
        <div class="widget box">
            <div class="widget-header">
                <div class="headingOftabel">
                    <h4>
                    Leave Application
                    </h4>
                    
                </div>
           
               
            </div>
            
            <div class="widget-content" style="padding-top: 40px;">
                <form  class="form-horizontal row-border">
                    <div class="card">
                        <div class="card-body">
                    <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group ">
                                    <label class="col-md-12 control-label">
                                        Employee Name :
                                    </label>
                                    <div class="col-md-12 control-label textLeft ">
                                        <label class="text" >Anu</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 control-label">
                                        Leaves :
                                    </label>
                                    <div class="col-md-12 control-label textLeft">
                                        <label >12 (Total Leaves) - 18 (Used Leaves) = -6 (Left Leaves)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 control-label">
                                        Leave Category <span class="text-danger pl-1" >*</span>
                                    </label>
                                    <div class="col-md-12">
                                        <select  class="form-control input-width-xlarge" required>
                                         <option value="">-- Select --</option>
                                         <option value="1">Annual Leave</option>
                                         <option value="2">Emergancy Leave</option>
                                         <option value="3">Normal Leave</option>
                                        <option value="4">Others</option>
                                        <option value="5">Planned Leave</option>
                                        <option value="6">Sick Leave</option>
                                        <option value="7">Un-planned Leave</option>

                                       </select>
                                        <span id="" class="required" style="display:none;">Please select Leave Category.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 control-label">
                                        Start Date - End Date<span class="text-danger pl-1" >*</span>
                                    </label>
                                    <div class="col-md-12 date-select">
                                        <input  type="text"  class="form-control input-width-xlarge" required/>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 control-label">
                                        Consider Half Leave
                                    </label>
                                    <div class="col-md-12">
                                        <label class="checkbox-inline">
                                            <input id="" type="checkbox" /><label >Half Day Leave</label>
                                        </label>
                            
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="col-md-12 control-label">
                                        Total Leave <span class="text-danger pl-1" >*</span>
                                    </label>
                                    <div class="col-md-12">
                                        <input  type="text"  required/>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-md-12 control-label">
                                        Reason <span class="text-danger pl-1" >*</span>
                                    </label>
                                    <div class="col-md-12">
                                       <textarea name="" id="" cols="20" rows="2" class="form-control input-width-xlarge" required></textarea>
                                        
                                    </div>
                                </div>
                            </div>
                    
                        </div>
                    <div class=" formActionbtn" style="padding-left: 15px;">
                        <button class="btn btn-success" type="submit" onclick="saveleave()">Save</button>
                        <!-- <a class="btn btn-success" type="submit" href="#" role="button" onclick="saveleave()">Save</a> -->
                        <a class="btn btn-danger" type="reset" href="#" role="button" onclick="cancelleave()">Cancel</a>
                    </div>
                </div>
               </div>
            </form>
                </div>
            
<script>
    function saveleave(){

    }
    function cancelleave(){
        alert("Do you want to cancel?")
    }
</script>
{% endblock %}