{% extends "master.html" %}
{% load static %}
{% block content %}
<div class="page-content" style="padding-top:40px;padding-left:10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">Create New Leaves
                 </h5>
                </div>
            </div>
        </div>
    </div>
    {{msg}}
<form method="POST" action="/user/applyleave/">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12 ">
          <div class="card ">
              <div class="card-body ">
                  <div class="row">
                      <div class="form-group col-lg-6">
                          <label for="" class="form-control-label">Employee Name</label><span class="text-danger pl-1">*</span>
                          <input class="form-control" required id="empname" type="text" name="empname" value="{{user.firstname}}" readonly>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="" class="form-control-label">Employee Id</label><span class="text-danger pl-1">*</span>
                        <input class="form-control" required id="empid" type="text" name="empid" value="{{user.id}}" readonly>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-12 control-label">
                            Leave Category <span class="text-danger pl-1" >*</span>
                        </label>
                        <div class="col-md-12">
                            <select  class="form-control input-width-xlarge" id="lcategory" name="lcategory" required> 
                             <option value="">-- Select --</option>
                             {% for i in leave %}

                           <option value="{{ i.id }}">{{ i.leavetype }}</option>
                            
                           {% endfor %}

                           </select>
                            <span id="" class="required" style="display:none;">Please select Leave Category.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="" class="form-control-label">Start Date</label><span class="text-danger pl-1">*</span>
                        <input class="form-control" required id="startdate" type="text" name="startdate">
                    </div>
                    <div class="form-group col-lg-6">
                        <label for="" class="form-control-label">End Date</label><span class="text-danger pl-1">*</span>
                        <input class="form-control" required id="enddate" type="text" name="enddate">
                    </div>
                          <div class="form-group col-md-12">
                              <label for="" class="form-control-label">Leave Reason</label><span class="text-danger pl-1">*</span>
                          <textarea class="form-control" rows="2" id="leavereason" cols="50" id="lreason" name="lreason"  required></textarea>
                          </div>
                          <div class="form-group col-md-12">
                              <label for="" class="form-control-label">Remark</label><span class="text-danger pl-1">*</span>
                          <textarea class="form-control" rows="2" id="remark" cols="50" id="remark" name="remark" required></textarea>
                          </div>
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal" >Create</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                  </div>
                  
              </div>       
              </div>
          </div>
      </div>
</form>

</div>
{% endblock %}