{% extends "master.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    window.onload=function(){
        getmeeting()
        getdata()
    }
 </script>
<div class="content" style="padding-top: 80px;">
    <div>
        
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <p class="card-category">Salary</p>
                        <h3 class="card-title" id="salary">
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a href="/user/holiday/" style="color: black;">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <p class="card-category">Holiday</p>
                            <h3 class="card-title" id="holiday"></h3>
                            
                        </div>
                    </div>
                </a>
                
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <p class="card-category">Casual Leave</p>
                        <h3 class="card-title" id="casual"></h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <p class="card-category">Sick Leave</p>
                        <h3 class="card-title" id='sick'></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 60px;">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Mark Attendance</h4>
                    </div>
                    <div class="card-body dash-card-body">
                        <p class="text-muted pb-0-5">My Office Time: 9:00 to 18:00</p>
                        <center>
                            <div class="row">
                                <div class="col-md-6 float-right border-right">
                                    
                                     <button type="submit"  name="in" id="checkin" class="btn-create badge-success" onclick="checkin(new Date())" >CHECK IN</button>
  
                                </div>
                                <script>
                                     
                                    function checkin(date){
                                       
                                        $.ajaxSetup({
                                            headers: { "X-CSRFToken": '{{csrf_token}}' }
                                            });
                                            // alert(date)
                                            year=date.getFullYear()
                                            month=date.getMonth()+1
                                            day=date.getDate()
                                            fulldate=+year+'-'+month+'-'+day
                                            // alert(fulldate)
                                            time=date.getHours()+':'+date.getMinutes()+':'+date.getSeconds()
                                            alert(typeof(time)),
                                            $.ajax({ 
                                                url: '/user/getcheckin/',
                                                type:'POST',
                                                data:{
                                                    date:fulldate,
                                                    time:time
                                                },
                                                success: function(response){
                                                    alert(msg)
                                                }
                                            })
                                    }
                                </script>
                                <div class="col-md-6 float-left">
                                <button type="submit"  name="out" id="checkout" class="btn-create badge-danger " onclick="checkout(new Date())" >CHECK OUT</button>
                                
                                </div>
                            </div>
                        </center>

                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" style="padding-top: 70px;">
            <!-- <div class="col-lg-5">
                <div class="card">
                    <div class="card-header">
                        <h4>Calender</h4>
                    </div>
                    <div class="widget box calendarChart">
                        <div class="widget-header">
                            
                        </div>
                        <div class="widget-content">
                            <div id="chart_simple" class="chart">
                                <table id="cphBody_Calendar" cellspacing="0" cellpadding="2" title="Calendar" style="border-color:White;border-width:1px;border-style:solid;width:100%;border-collapse:collapse;">
 <tr><td colspan="7" style="background-color:#F9F9F9;"><table cellspacing="0" style="width:100%;border-collapse:collapse;">
    <tr><td style="width:15%;"><a href="" style="color:Black" title="Go to the previous month">&lt;</a></td>
<td align="center" style="width:70%;">July 2021</td>
<td align="right" style="width:15%;"><a href="" style="color:Black" title="Go to the next month">&gt;</a></td></tr>
</table></td></tr>
<tr>
<th align="center" abbr="Sunday" scope="col">Sun</th>
<th align="center" abbr="Monday" scope="col">Mon</th>
<th align="center" abbr="Tuesday" scope="col">Tue</th>
<th align="center" abbr="Wednesday" scope="col">Wed</th>
<th align="center" abbr="Thursday" scope="col">Thu</th>
<th align="center" abbr="Friday" scope="col">Fri</th>
<th align="center" abbr="Saturday" scope="col">Sat</th>
</tr>
<tr>
<td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title=""></a></td>
<td align="center" style="width:14%;"><a href="" style="color:Black" title="June 28">28</a></td>
<td align="center" style="width:14%;"><a href="" style="color:Black" title="June 29">29</a></td>
<td align="center" style="width:14%;"><a href="" style="color:Black" title="June 30">30</a></td>
<td align="center" style="width:14%;"><a href="" style="color:Black" title="July 1">1</a></td>
<td align="center" style="width:14%;"><a href="" style="color:Black" title="July 2">2</a></td>
<td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 3">3</a></td>
</tr>
<tr>
    <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 4">4</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 5">5</a></td>
    <td align="center" style="color:Red;width:14%;"><a href="" style="color:Red" title="July 6">6</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 7">7</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 8">8</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 9">9</a></td>
    <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 10">10</a></td>
   </tr>
    <tr>
        <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 11">11</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 12">12</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 13">13</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 14">14</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 15">15</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 16">16</a></td>
    <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 17">17</a></td>
   </tr>
    <tr>
        <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 18">18</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 19">19</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:red" title="July 20">20</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 21">21</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 22">22</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 23">23</a></td>
    <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 24">24</a></td>
   </tr>
    <tr>
        <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 25">25</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:black" title="July 26">26</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:black" title="July 27">27</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 28">28</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 29">29</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="July 30">30</a></td>
    <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="July 31">31</a></td>
    </tr>
    <tr>
        <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="August 1">1</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:Black" title="August 2">2</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:black" title="August 3">3</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:black" title="August 4">4</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:black" title="August 5">5</a></td>
    <td align="center" style="width:14%;"><a href="" style="color:black" title="August 6">6</a></td>
    <td align="center" style="color:Blue;width:14%;"><a href="" style="color:Blue" title="August 7">7</a></td>
   </tr>
   </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Meeting List</h4>
                    </div>
                    <div class="card-body dash-card-body">
                        <div class="table-responsive">
                            <table class="table table-striped mb-0" id="table">
                                <thead>
                                <tr>
                                    <th>Sl.no</th>
                                    <th>Meeting title</th>
                                    <th>Meeting Date</th>
                                    <th>Meeting Time</th>
                                    <th>Agenda</th>
                                </tr>
                                </thead>
                                <tbody>
                                                                    <!-- <tr>
                                        <td>Company Rules</td>
                                        <td>July 30, 2021</td>
                                        <td>4:30 PM</td>
                                    </tr>
                                                                    <tr>
                                        <td>New Technology</td>
                                        <td>Aug 2, 2021</td>
                                        <td>3:20 PM</td>
                                    </tr> -->
                                                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
    </div>
</div>
            </div>
    </div>
</div>
    </div>
</div>
<script>
    function checkout(date){
       $.ajaxSetup({
                headers: { "X-CSRFToken": '{{csrf_token}}' }
                });
                
            time=date.getHours()+':'+date.getMinutes()+':'+date.getSeconds()
            alert(typeof(time)),
            $.ajax({ 
               url: '/user/getcheckout/',
               type:'POST',
               data:{
        
                time:time
                    },
                success: function(response){
                     alert(response.msg)
                            }
                            })
                            }

    function getmeeting(){
        $.ajax({
           url:'/user/getmeeting/',
           type:'GET',
           success:function(response){
               $('.tr').remove()
               
               for(i=0;i<response.meet.length;i++)
               $('#table').append("<tr class='tr'><td>"+response.meet[i].id+"</td><td>"+response.meet[i].mt+"</td><td>"+response.meet[i].md+"</td><td>"+response.meet[i].time+"</td><td>"+response.meet[i].agenda+"</td></tr>")
           } 
        })
    }
   
       function getdata(){
         $.ajax({
             url:'/user/getdatas/',
             type:'GET',
             success:function(response){
                 $('#salary').text(response.salary)
                 $('#holiday').text(response.holiday)
                 $('#sick').text(response.sick)
                 $('#casual').text(response.casual)
             }
         })
       }
   
</script>
        {% endblock %}