{% extends "master.html" %}
{% load static %}


{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
   window.onload=function(){
       loaddata()
   }
</script>

<div class="page-header" style="padding-top: 90px;">
        
        <div style="text-align: right;padding-right: 20px;">
            <div class="btn-group">
                <span class="btn addButtons">
                    <a class="btn btn-primary" href="/user/applyleave/" role="button">Apply leave</a>
                </span> 
            </div>
            <!-- <div class="btn-group">
                <span class="btn addButtons">
                    <a class="btn btn-primary" href="/user/leavedetail/" role="button">Leave Details</a>
                </span> 
            </div> -->
        </div>
   
</div>

<div class="row" style="padding-top:30px;padding-right:30px;">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4>Leave Summary</h4>
            </div>
            <div class="card-body dash-card-body">
                <div class="table-responsive">
                    <table class="table  mb-0" id="table">
                        <thead>
                        <tr>
                            <th>Leave Category</th>
                            <th>Start Date </th>
                            <th>End Date</th>
                            <th>Reason</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                            
                             </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
<script>
    function loaddata(){
        $.ajax({
           url:'/user/fnleave/',
           type:'GET',
           success:function(response){
               $('.tr').remove()
               
               for(i=0;i<response.leave.length;i++)
               $('#table').append("<tr class='tr'><td>"+response.leave[i].lc+"</td><td>"+response.leave[i].sd+"</td><td>"+response.leave[i].ed+"</td><td>"+response.leave[i].reason+"</td><td>"+response.leave[i].status+"</td></tr>")
           } 
        })
    }
</script>

{% endblock %}