{% extends "master.html" %}
{% load static %}


{% block content %}
<div class="content">
    <div class="container-fluid" style="padding-top: 80px;">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Change Password</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Old Password</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">New Password</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>   
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Confirm Password</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>   
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Update Password</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

{% endblock %}