{% extends "masters.html" %}
{% load static %}
{% block content %}

<div class="page-content" style="padding-top:40px;padding-left:10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">Add Complaints

                 </h5>
                 {{msg}}
                </div>
            </div>
        </div>
        
    </div>
    <form action="/adminapp/addcomplaints/" method="POST"> 
        {% csrf_token %}
        <div class="row"style="padding-top:40px;">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                                <div class="form-group col-lg-6">
                                    <label for="" class="form-control-label">Complaint From</label><span class="text-danger pl-1">*</span>
                                    <input class="form-control" required  type="text" name="cf" placeholder="Anu">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label for="" class="form-control-label">Complaint Against</label><span class="text-danger pl-1">*</span>
                                    <input class="form-control" required  type="text" placeholder="Vismay" name="ca" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="" class="form-control-label">Title</label><span class="text-danger pl-1">*</span>
                                    <input class="form-control"  type="text" placeholder="Project Issues" required name="title">
                                </div>
                                <!-- <div class="form-group col-md-6">
                                    <label for="" class="form-control-label">Complaint Date</label><span class="text-danger pl-1">*</span>
                                    <input class="form-control" name="" type="text" placeholder="28/7/2021" required >
                                </div> -->
                                <div class="form-group col-md-6 ">
                                    <label for="c" class="form-control-label">Date Of Complaint</label><span class="text-danger pl-1">*</span>
                                    <!-- <input class="form-control datepicker" required="required" name="company_doj" type="text" id="company_doj"> -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <select name="day" id="day" style="width: 120px;">
                                            <option value="">Day</option>
                                            <script>
                                                for(i=1;i<=31;i++){
                                    if(i<10){
                                        document.write("<option value='"+0+i+"'>"+i+"</option>")
                                    }else{
                                        document.write("<option value='"+i+"'>"+i+"</option>")
                                    }
                                    
                                }
                                            </script>
                                        </select>
                                        <select name="month" id="month"style="width: 120px;">
                                            <option value="">Month</option>
                                            <script>
                                                var months=["January","February","March","April","May","June","July","August","September","October","November","December"];
                                                for(i=1;i<=12;i++){
                                    if(i<10){
                                        document.write("<option value='"+0+i+"'>"+months[i-1]+"</option>")
                                    } else{
                                        document.write("<option value='"+i+"'>"+months[i-1]+"</option>")
                                    }
                                    
                                }
                                            </script>
                                        </select>
                                        <select name="year" id="year" style="width: 120px;">
                                            <option value="">year</option>
                                            <script>
                                                for(i=1999;i<=(new Date().getFullYear());i++){
                                                    document.write("<option value='"+i+"'>"+i+"</option>")
                                                }
                                            </script>
                                        </select>
                                    </div>
                                </div>
                                </div>
                                    <div class="form-group col-md-12">
                                        <label for="" class="form-control-label">Description</label><span class="text-danger pl-1">*</span>
                                    <textarea class="form-control" rows="2"  cols="50" id="" placeholder="lorem" required name="description"></textarea>
                                    </div>
                                 <div style="padding-left: 13px;">
                                <button type="submit" class="btn btn-primary">Save</button>
                                 <button type="reset" class="btn btn-danger">Cancel</button>
                                   </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
    </form>
</div>
{% endblock %}