{% extends "masters.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
   window.onload=function(){
       loaddata()
   } 
</script>
<div class="page-content" style="padding-top:60px;padding-left:10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">Manage Complaints
</h5>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="col-xl-5 col-lg-5 col-md-5 d-flex align-items-center justify-content-between justify-content-md-end">
            
                    <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
                    <span class="input-group-append">
                      <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                      </button>
                    </span>
                    <!-- <a href="/adminapp/addcomplaints/" class="btn btn-primary btn-small active" role="button" aria-pressed="true">Add</a> -->
                
        </div>  
                <div class="all-button-box row d-flex justify-content-end" style="padding-right:68px;">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-8 col-8">
                <div class="btn-group" >
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-plus">Add</i>
                      </button> -->
                    <!-- <span class="btn addButtons">
                        
                    </span>  -->
                    <a href="/adminapp/addcomplaints/" class="btn btn-primary btn-small active" role="button" aria-pressed="true"><i class="fa fa-plus">Add</i></a>
                </div>
    </div>
    </div>
            </div>
        </div>
        
    </div><br>
        <div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-body py-0">
            <div class="table-responsive">
                <table class="table table-striped mb-0 dataTable"  id="table">
                    <thead>
                    <tr>
                        <th width="10%">Sl.no</th>
                        <th width="20%">Complaint From</th>
                        <th width="20%">Complaint Against</th>
                       <th width="15%">Title</th>
                        <th width="20%"> Complaint Date</th>
                        <th width="15%">Description</th>
                        <th width="15%">Action</th>
                        </tr>
                    </thead>
                    <tbody class="font-style">
                        <!-- {% for i in complaints %}
                        <tr>
                            <td>{{i.cf}}</td>
                            <td>{{i.ca}}</td>
                          <td>{{i.title}}</td>
                            <td>{{i.doc}}</td>
                            <td>{{i.description}}</td>
                             <td>
                                <a href="#viewModal"  data-toggle="modal" data-target="#viewModal" data-original-title="View" ><i class="material-icons">edit</i></a>
                            <a href="#" class="delete-icon" data-toggle="tooltip" data-original-title="Delete"><i class="material-icons">delete</i></a>
                        </td>
                            </tr>
                           {% endfor %} -->
                           </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>


<!-- view modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Complaint</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 ">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    
                                    <input class="form-control" required="required" name="" type="text" id="id">
                                </div>
                                    <div class="form-group col-lg-6">
                                        <label for="" class="form-control-label">Complaint From</label>
                                        <input class="form-control" required="required" name="" type="text" id="cf">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="" class="form-control-label">Complaint Against</label>
                                        <input class="form-control" required="required" name="" type="text" id="ca">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="" class="form-control-label">Title</label>
                                        <input class="form-control" name="" type="text" id="title" >
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="" class="form-control-label">Complaint Date</label>
                                        <input class="form-control" name="" type="text" id="cd" >
                                    </div>
                                        <div class="form-group col-md-12">
                                            <label for="" class="form-control-label">Description</label>
                                        <textarea class="form-control" rows="2" name="" cols="50" id="desc" placeholder="lorem"></textarea>
                                        </div>
                                
                            </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="updatecomplain()">Update</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
  <script>
      function loaddata(){
         $.ajax({
             url:'/adminapp/fncomplain/',
             type:'GET',
             success: function(response){
               $('.tr').remove()
               for (i=0;i<response.complain.length;i++){
                   $('#table').append("<tr class='tr'><td>"+response.complain[i].id+"</td><td>"+response.complain[i].cf+"</td><td>"+response.complain[i].ca+"</td><td>"+response.complain[i].title+"</td><td>"+response.complain[i].date+"</td><td>"+response.complain[i].desc+"</td><td><button data-toggle='modal' data-target='#viewModal' onclick='getcomplain("+response.complain[i].id+")'>Edit</button></td><td><button onclick='deldata("+response.complain[i].id+")'>Delete</button></td></tr>")
               }
             }
         })
      }
      function getcomplain(uid){
        $.ajaxSetup({
  headers: { "X-CSRFToken": '{{csrf_token}}' }
         });
         $.ajax({
             url:'/adminapp/getcomplain/',
             type:'POST',
             data:{
                 uid:uid,
             },
             success:function(response){
               $('#id').val(response.complain[0].id)
               $('#cf').val(response.complain[0].cf)
               $('#ca').val(response.complain[0].ca)
               $('#title').val(response.complain[0].title)
               $('#cd').val(response.complain[0].date)
               $('#desc').val(response.complain[0].desc)
             }
         })
      }
      function updatecomplain(){
        $.ajaxSetup({
  headers: { "X-CSRFToken": '{{csrf_token}}' }
         });
         $.ajax({
             url:'/adminapp/updatecomplain/',
             type:'POST',
             data:{
               id:$('#id').val(),
               cf:$('#cf').val(),
               ca:$('#ca').val(),
               title:$('#title').val(),
               desc:$('#desc').val()
             },
             success: function(response){
                 loaddata()
             }
         })
      }
  </script>


{% endblock %}