{% extends "masters.html" %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
    window.onload=function(){
        updatedata()
    }
     
 </script>
 <div class="page-content" style="padding-top: 100px;padding-right: 50px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 "> Edit Employee
</h5>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                                    </div>
        </div>
    </div>
    <br>

<div class="row">
<div class="col-md-6 ">
    <div class="card ">
        <div class="card-header"><h6 class="mb-0">Personal Details</h6></div>
        <div class="card-body ">
            
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="name" class="form-control-label">First Name</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" required="required" name="First Name" type="text" value=""  id="fname">
                </div>
                <div class="form-group col-md-4">
                    <label for="Middle Name" class="form-control-label">Middle Name</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" name="Middle Name" type="text" value="" >
                </div>
                <div class="form-group col-md-4">
                    <label for="Last Name" class="form-control-label">Last Name</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" name="Last Name" type="text" value="" >
                </div>
                <div class="form-group col-md-12 ">
                    <label for="" class="form-control-label">Date Of Birth</label><span class="text-danger pl-1">*</span>
                <div class="row">
                    <div class="col-lg-12">
                        <select name="day" id="day" style="width: 120px;">
                            <!-- <option value="">Day</option> -->
                            <script>
                                d=new Date('{{i.date}}').getDay()
                                alert(d)
                                document.write("<option value='"+d+"'>"+d+"</option>")
                            </script>
                            <script>
                                for(i=1;i<=31;i++){
                                    if(i<10){
                                        document.write("<option value='"+0+i+"'>"+i+"</option>")
                                    }else{
                                        document.write("<option value='"+i+"'>"+i+"</option>")
                                    }
                                    
                                }
                            </script>
                        </select>
                        <select name="month" id="month"style="width: 120px;">
                            <script> 
                                m=new Date('{{i.date}}').getMonth()
                                var months=["January","February","March","April","May","June","July","August","September","October","November","December"];
                                document.write("<option value='"+m+"'>"+months[m]+"</option>")
                            </script>
                            
                            <script>
                                var months=["January","February","March","April","May","June","July","August","September","October","November","December"];
                                for(i=0;i<12;i++){
                                    document.write("<option value='"+i+"'>"+months[i]+"</option>")
                                }
                            </script>
                        </select>
                        <select name="year" id="year" style="width: 120px;">
                            <script>
                                y=new Date('{{i.date}}').getFullYear()
                                alert(y)
                                document.write("<option value='"+y+"'>"+y+"</option>")
                            </script>
                            <option value="">year</option>
                            <script>
                                for(i=1999;i<=(new Date().getFullYear());i++){
                                    document.write("<option value='"+i+"'>"+i+"</option>")
                                }
                            </script>
                        </select>
                    </div>
                </div>
                </div>

                <div class="col-md-12 ">
                    <div class="form-group ">
                        <label for="gender" class="form-control-label">Gender</label><span class="text-danger pl-1">*</span>
                        <div class="d-flex radio-check">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="male" value="Male" name="gender" class="custom-control-input">
                                <label class="custom-control-label" for="g_male">Male</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="female" value="Female" name="gender" class="custom-control-input">
                                <label class="custom-control-label" for="g_female">Female</label>
                            </div>
                            <script>
                                gen='{{i.gender}}'
                                if(gen=='Male'){
                                    document.getElementById('male').checked=true;
                                }
                                else{
                                    document.getElementById('female').checked=true;
                                }
                            </script>
                        </div>
                    </div>
                </div>
                
                <div class="form-group col-md-6">
                    <label for="email" class="form-control-label">Email</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" required="required" name="email" type="email" id="email" value="{{i.username}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="password" class="form-control-label">Password</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" required="required" name="password" type="text" value="{{i.password}}" id="password">
                </div>
                
            <!-- </div> -->
           
            <div class="form-group col-md-6">
                <label for="name" class="form-control-label">Father's Name</label><span class="text-danger pl-1">*</span>
                <input class="form-control" required="required" name="name" type="text" value="{{i.fathersname }}">
            </div>
            <div class="form-group col-md-6">
                <label for="name" class="form-control-label">Marital Status</label><span class="text-danger pl-1">*</span>
                <input class="form-control" required="required" name="name" type="text" value="{{i.maritalstatus }}">
            </div>
            </div>
            
            <!-- <div class="form-group col-md-6">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Marital status
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Married</a>
                      <a class="dropdown-item" href="#">Single</a>
                      <a class="dropdown-item" href="#">Divorcee</a>
                    </div>
                  </div>
            </div> -->
        </div>       
        </div>
    </div>

 <div class="col-md-6 ">
    <div class="card">
        <div class="card-header"><h6 class="mb-0">Official Details</h6></div>
        <div class="card-body employee-detail-create-body">
            <div class="row">
                
                <div class="form-group col-md-6">
                    <label for="employee_id" class="form-control-label">Employee ID</label><span class="text-danger pl-1">*</span>
                    <input class="form-control"  name="employee_id" type="text" value="ABC00{{ i.id }}" id="">
                    </div>
                   
                    <div class="form-group col-md-6">
                        <label for="" class="form-control-label">Employee Type</label><span class="text-danger pl-1">*</span>
                        <input class="form-control"  name="" type="text" value="{{ i.employeetype }}" id="">
                    </div>

                <div class="form-group col-md-6">
                    <label for="department_id" class="form-control-label">Department</label><span class="text-danger pl-1">*</span>
                    <select class="form-control" id="" required="required" name="">
                        <option value="1">PHP</option>
                        <option value="2">Android</option>
                        <option value="3">IOS</option>
                        <option value="4">PHP</option></select>
                </div>

                <div class="form-group col-md-6">
                    <label for="" class="form-control-label">Designation</label><span class="text-danger pl-1">*</span>
                    <select class="select2 form-control select2-multiple" id="" name="" data-toggle="select2" data-placeholder="Select Designation ...">
                        <option value="">Select any Designation</option>
                    </select>
                </div>
                <div class="form-group col-md-12 ">
                    <label for="c" class="form-control-label">Date Of Joining</label><span class="text-danger pl-1">*</span>
                    <!-- <input class="form-control datepicker" required="required" name="company_doj" type="text" id="company_doj"> -->
                <div class="row">
                    <div class="col-lg-12">
                        <select name="day" id="day" style="width: 120px;">
                            <option value="">Day</option>
                            <script>
                                for(i=1;i<=31;i++){
                                    document.write("<option value='"+i+"'>"+i+"</option>")
                                }
                            </script>
                        </select>
                        <select name="month" id="month"style="width: 120px;">
                            <option value="">Month</option>
                            <script>
                                var months=["January","February","March","April","May","June","July","August","September","October","November","December"];
                                for(i=0;i<12;i++){
                                    document.write("<option value='"+i+"'>"+months[i]+"</option>")
                                }
                            </script>
                        </select>
                        <select name="year" id="year" style="width: 120px;">
                            <option value="">year</option>
                            <script>
                                for(i=1999;i<=(new Date().getFullYear());i++){
                                    document.write("<option value='"+i+"'>"+i+"</option>")
                                }
                            </script>
                        </select>
                    </div>
                </div>
                </div>
                <div class="form-group col-md-6 ">
                    <label for="" class="form-control-label">Employee Grade</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" required="required" name="" type="text" id="" value="{{i.employeegrade}}">
                </div>
                <div class="form-group col-md-6 ">
                    <label for="" class="form-control-label">Shift </label><span class="text-danger pl-1">*</span>
                    <input class="form-control" required="required" name="" type="text" id="" value="{{i.shift}}">
                </div>
                
            </div>
        </div>
    </div>
</div>
</div>
<div class="row" style="padding-top:40px;">
<div class="col-md-6 ">
    <div class="card">
        <div class="card-header"><h6 class="mb-0">Documents</h6></div>
        <div class="card-body employee-detail-create-body">
                                    <div class="row">
                    <div class="form-group col-12">
                        <div class="float-left col-4">
                            <label for="document" class="float-left pt-1 form-control-label">Certificate  <span class="text-danger">*</span> </label>
                        </div>
                        <div class="float-right col-8">
                            <input type="hidden" name="" id="" value="">
                            <div class="choose-file form-group">
                                <label for="">
                                    <div>Choose File</div>
                                    <input class="form-control   border-0"  required  name="" type="file" id="" data-filename="">
                                </label>     
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12">
                        <div class="float-left col-4">
                            <label for="document" class="float-left pt-1 form-control-label">Resume <span class="text-danger">*</span> </label>
                        </div>
                        <div class="float-right col-8">
                            <input type="hidden" name="" id="" value="">
                            <div class="choose-file form-group">
                                <label for="">
                                    <div>Choose File</div>
                                    <input class="form-control   border-0"  required  name="" type="file" id="" data-filename="">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                                    <div class="row">
                    <div class="form-group col-12">
                        <div class="float-left col-4">
                            <label for="document" class="float-left pt-1 form-control-label">Photo </label>
                        </div>
                        <div class="float-right col-8">
                            <input type="hidden" name="" id="" value="">
                            <div class="choose-file form-group">
                                <label for="">
                                    <div>Choose File</div>
                                    <input class="form-control   border-0"  name="" type="file" id="" data-filename="">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="col-md-6 ">
    <div class="card">
        <div class="card-header"><h6 class="mb-0">Contact Details</h6></div>
        
        <div class="card-body ">
            
            <div class="row">
              
              
                <div class="form-group col-md-12">
                    <label for="email" class="form-control-label">Personal Email</label><span class="text-danger pl-1">*</span>
                    <input class="form-control"  name="personalemail" type="email" id="pemail" value="{{i.personalemail}}" >
                </div>
                
                <div class="form-group" style="padding-left: 17px;padding-right: 18px;">
                    <label for="address" class="form-control-label">Address</label><span class="text-danger pl-1">*</span>
                    <textarea class="form-control" rows="2" name="address" cols="50" id="address" >{{i.address}}</textarea>
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-control-label">city</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" name="" type="text" id="" value="{{i.city}}">

                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-control-label">Country</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" name="" type="text" id="" value="{{i.country}}">

                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-control-label">Pin code</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" name="" type="text" id="" value="{{i.pincode}}">
                </div>
                <div class="form-group col-md-6">
                    <label for="" class="form-control-label">Mobile Number</label><span class="text-danger pl-1">*</span>
                    <input class="form-control" name="" type="text" id="" value="{{i.mobile}}">
                </div>
                
            </div>
           
        </div>
    </div>
</div>
</div>
<div class="row" style="padding-top: 50px;">
<div class="col-sm-1">
    <button type="button" class="btn btn-primary">Update</button>
</div>
<div class="col-sm-1">
    <button type="button" class="btn btn-danger">Cancel</button>
</div>
</div>
</div>
<script>
    function updatedata(){
            function updatedata(uid){
            $.ajax({
                url: '/adminapp/editemployees',
                type: 'POST',
                data:{
                    uid:uid
                },
                success:function(response){
                  console.log(response.data[0].name)
                //   $('#upid').val(response.updata[0].id)
                 $('#fname').val(response.updata[0].fname)
                 $('#pemail').val(response.updata[0].pemail)
                
                
              } 
            })
        }
        }
</script>
{% endblock %}