{% extends "masters.html" %}
{% load static %}
{% block content %}

<div class="page-content" style="padding-top: 60px;padding-left:10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">Manage Leave
</h5>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-end">
            
                    <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
                    <span class="input-group-append">
                      <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                      </button>
                    </span>
                
        </div>  
                <div class="btn-group">
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-plus">Add</i>
                      </button> -->
                    <!-- <span class="btn addButtons">
                    </span>  -->
                    <a href="/adminapp/createleave/" class="btn btn-primary btn-small active" role="button" aria-pressed="true"><i class="fa fa-plus">Add</i></a>
                </div>
            </div>
        </div>
    </div>
        <div class="row" style="padding-top: 20px;">
<div class="col-md-12">
    <div class="card">
        <div class="card-body py-0">
            <div class="table-responsive">  
                <table class="table table-striped mb-0 dataTable">
                    <thead>
                    <tr>
                        <th width="5%">Sl</th>
                       <th width="10%">Employee</th>
                        <th width="10%">Leave Type</th>
                        <th width="10%">Applied On</th>
                        <th width="10%">Start Date</th>
                        <th width="10%">End Date</th>
                        <th width="10%">Total Days</th>
                        <th width="10%">Leave Reason</th>
                        <th width="10%">status</th>
                        <th width="10%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                   <tr>
                        <td>1</td>
                        <td>test</td>
                        <td>Casual Leave</td>
                        <td>Mar 4, 2021</td>
                        <td>Mar 7, 2021</td>
                        <td>Mar 8, 2021</td>
                        <td>2</td>
                        <td>Lorem Ipsum</td>
                        <td>Approved</td>
                            <td>
                                <a href="#viewModal"  data-toggle="modal" data-target="#viewModal" data-original-title="View" ><i class="material-icons">visibility</i></a>
                        </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>test</td>
                            <td>Casual Leave</td>
                            <td>July 4, 2021</td>
                            <td>July 5, 2020</td>
                            <td>July 6, 2020</td>
                            <td>2</td>
                            <td>Lorem Ipsum</td>
                            <td>Approved</td>
                                <td>
                                    <a href="#viewModal"  data-toggle="modal" data-target="#viewModal" data-original-title="View" ><i class="material-icons">visibility</i></a>
                            </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>test</td>
                                <td>Sick Leave</td>
                                <td>July 22, 2021</td>
                                <td>July 22, 2021</td>
                                <td>July 22, 2021</td>
                                <td>1</td>
                                <td>Lorem Ipsum</td>
                                <td>Approved</td>
                                <td>
                                <a href="#viewModal"  data-toggle="modal" data-target="#viewModal" data-original-title="View" ><i class="material-icons">visibility</i></a>
                                </td>
                                </tr>
                        </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>

   
<!-- view modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Leave Action</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="card ">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table table-striped mb-0 dataTable no-footer">
                                        <tr role="row">
                                            <th>Employee</th>
                                            <td>test</td>
                                        </tr>
                                        <tr>
                                            <th>Leave Type </th>
                                            <td>Casual Leave</td>
                                        </tr>
                                        <tr>
                                            <th>Appplied On</th>
                                            <td>Mar 4, 2020</td>
                                        </tr>
                                        <tr>
                                            <th>Start Date</th>
                                            <td>Mar 3, 2020</td>
                                        </tr>
                                        <tr>
                                            <th>End Date</th>
                                            <td>Mar 5, 2020</td>
                                        </tr>
                                        <tr>
                                            <th>Leave Reason</th>
                                            <td>Lorem Ipsum</td>
                                        </tr>
                                        
                                    </table>
                                </div>
                            </div>
                            
                        </div>       
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Approve</button>
          <button type="button" class="btn btn-danger">Reject</button>
        </div>
      </div>
    </div>
  </div>
  <script>
     function createleave(){
        employee= document.getElementById("employee");
        leavetype= document.getElementById("leavetype");
        day= document.getElementById("day");
        month= document.getElementById("month");
        year= document.getElementById("year");
        days= document.getElementById("days");
        months= document.getElementById("months");
        years= document.getElementById("years");
        leavereason= document.getElementById("leavereason");
        remark= document.getElementById("remark");
        if (employee.value==""){
            employee.style.borderColor="red";
             alert("Enter the Employee name");
        }
        else if(leavetype.value==""){
            leavetype.style.borderColor="red";
            alert("Enter the leave type");
        }
        else if (day.value==""&& month.value==""&& year.value==""){
            day.style.borderColor="red";
            month.style.borderColor="red";
            year.style.borderColor="red";
            alert("Enter the start date");
        }
        else if (days.value==""&& months.value==""&& years.value==""){
            days.style.borderColor="red";
            months.style.borderColor="red";
            years.style.borderColor="red";
            alert("Enter the end date");
        
        }
        else if(leavereason.value==""){
            leavereason.style.borderColor="red";
            alert("Enter the leave reason");
        }
        else if(remark.value==""){
            remark.style.borderColor="red";
            alert("Enter the remarks");
            return false;
        }
        else{
                return true;
            }
     }
  </script>
{% endblock %}