{% extends "masters.html" %}
{% load static %}
{% block content %}
<div class="page-content" style="padding-top:60px;padding-left:10px;">
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 ">    Manage Meeting
</h5>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-8 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="col-xl-4 col-lg-4 col-md-4 d-flex align-items-center justify-content-between justify-content-md-end">
            
                    <input class="form-control py-2 border-right-0 border" type="search" value="search" id="example-search-input">
                    <span class="input-group-append">
                      <button class="btn btn-outline-secondary border-left-0 border" type="button">
                            <i class="fa fa-search"></i>
                      </button>
                    </span>
                
        </div>     
                <div class="all-button-box row d-flex justify-content-end" style="padding-right:68px;">
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6">
                    <div class="btn-group">
                        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa fa-plus">Add</i>
                          </button> -->
                          <a href="/adminapp/addmeetings/" class="btn btn-primary btn-small active" role="button" aria-pressed="true"><i class="fa fa-plus">Add</i></a>
                    </div>
        
    </div>
    </div>
            </div>
        </div>
    </div> <br><br>
        <div class="row">
<div class="col-md-12">
    <div class="card">
        <div class="card-body py-0">
            <div class="table-responsive">
                <table class="table table-striped mb-0 dataTable" >
                    <thead>
                    <tr>
                        <th width="15%">Meeting title</th>
                        <th width="15%">Meeting Date</th>
                        <th width="15%">Meeting Time</th>
                        <th width="15%">Agenda</th>
                        <th width="15%">Action</th>
                        </tr>
                    </thead>
                    <tbody class="font-style">
                        {% for i in meetings %}
                            <tr>
                            <td>{{i.mtitle}}</td>
                            <td>{{i.mdate}}</td>
                            <td>{{i.mtime }}</td>
                            <td>{{i.agenda}}</td>
                            <td>
                                <a href="#viewModal"  data-toggle="modal" data-target="#viewModal" data-original-title="View" ><i class="material-icons">edit</i></a>
                            <a href="#" class="delete-icon" data-toggle="tooltip" data-original-title="Delete" ><i class="material-icons">delete</i></a>
                                        </td>
                            </tr>
                          {% endfor %}
                            </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</div>
</div>

<!-- view modal -->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Edit Meeting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12 ">
                    <!-- <div class="card "> -->
                        <!-- <div class="card-body "> -->
                            <!-- <div class="row"> -->
                                
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <label for="" class="form-control-label">Meeting Title</label>
                                        <input class="form-control" required="required" name="" type="text" placeholder="New Policy" value="">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label for="" class="form-control-label">Meeting Date</label>
                                        <input class="form-control" required="required" name="" type="text" placeholder="27/07/2021">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="" class="form-control-label">Meeting Time</label>
                                        <input class="form-control" name="" type="text" placeholder="03:00pm" >
                                    </div>
                                        <div class="form-group col-md-12">
                                            <label for="" class="form-control-label">Agenda</label>
                                        <textarea class="form-control" rows="2" name="" cols="50" id="" placeholder="lorem"></textarea>
                                        </div>
                                </div>
                            <!-- </div> -->
                            
                        <!-- </div>        -->
                        <!-- </div> -->
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Edit</button>
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>


{% endblock %}